@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

html {
    font-family: Ubuntu, sans-serif;
  }

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    margin: auto;
    box-shadow: 10px 10px 10px #628ca6;
}

td, th {
    border: 1px solid #7fb9c2;
    padding: 10px 10px;
    text-align: center;
}

thead, tfoot {
    background-color: #7fb9c2;
}

thead {
    font-size: 2rem;
    font-weight: 700;
}

tfoot {
    font-size: .8rem;
}

tbody th, .bold {
    background-color: #628ca6;
    color: white;
}

th {
    font-weight: 800;
}

tr :nth-child(even) td {
    background-color: #e7f0ed;
}

tr :nth-child(odd) td {
    background-color: #e7ffed;
}