@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

html {
    font-family: Ubuntu, sans-serif;
    display: block;
}

header {
    text-align: center;
    color: skyblue;
    font-size: x-large;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

main section {
    border: 2px solid sandybrown;
    margin: 15px;
    background-color: burlywood;
}

main img {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    box-shadow: 0 0 18px;
}

footer {
    color: black;
    padding: .3rem;
    text-align: center;
}



/* medium viewports */
@media (min-width: 32.5em) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    main img {
        max-width: 200px;
    }
}




/* large viewports */
@media (min-width: 60em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}